*.iml
.gradle
/local.properties
/.idea/shelf
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/router-processor/build
/router-annotations/build
/router-runtime/build
/router_mapping
/页面文档.md
/buildSrc/build
/router-gradle-plugin/build
/repo
